# To run this project, create a .env file with these values filled in.
HIVEMQ_BROKER_ID=
HIVEMQ_USERNAME=
HIVEMQ_PASSWORD=

IOTHUB_DEVICE_CONNECTION_STRING=
IOTHUB_DEVICE_ID=

IOTHUB_METHOD_NAME=
IOTHUB_METHOD_PAYLOAD=

IOTHUB_SERVICE_CONNECTION_STRING=
